<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>JAVA 23-24</title>
	<script
  src="https://code.jquery.com/jquery-1.12.4.js"
  integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
  crossorigin="anonymous"></script>
  <script src="js/tmpl.js"></script>
  <script data-main="js/app.js" src="js/require.js"></script>
</head>
<body>
	
	<script type="text/template" id="wrapper-template">
		<div class="wrapper">
		<ul class="item-list"></ul>
		<div class="controlls">
			<input type="text" class="item-value">
			<button class="item-add">Add</button>
		</div>
	</div>
	</script>

	<script type="text/template" id="list-template">
		<% for (var i = 0; i < data.length; i++) { %>
		<li><%= data[i] %> <span data-value="<%= data[i] %>" class="item-delete">x</span></li>
		<% }; %>
	</script>
	

</body>
</html>